<!DOCTYPE html>
<html lang="en">
    <%- include('partials/header.ejs') %> 
    <body>
        <%- include('partials/navbar.ejs') %>
        <div class="container">
            <div class="card" id="formulario-pergunta">
                <div class="card-header">
                    <h3>Realizar pergunta</h3>
                </div>
                <div class="card-body">
                    <form method="POST" action="/salvarpergunta">
                        <label>Título</label>
                        <input name="titulo" type="text" placeholder="Título" class="form-control margem-inferior">
                        <label>Descrição</label>
                        <textarea name="descricao" placeholder="Descreva a sua pergunta aqui" class="form-control margem-inferior"></textarea>
                        <button class="btn btn-primary">Perguntar</button>
                    </form>
                </div>
            </div>
        </div>
        
        <%- include('partials/footer.ejs') %>
    </body>
</html>