body {
    background-color: #eceff1;
}

.container .card {
    margin-top: 5vh;
}

.margem-inferior {
    margin-bottom: 10px;
}

.titulo {
    margin-top: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo a {
    font-size: 20px;
}

.card-respostas {
    margin-top: 10px !important;
}